In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd

<h1>1. Introdução</h1>

<h2>1.1 Leitura dos dados</h2>

In [2]:
n_read_rows = None
df = pd.read_csv('/home/davi/PycharmProjects/M-learn/mlfwk/datasets/measurements.csv', delimiter=',', nrows = n_read_rows)
df.dataframeName = 'pmsm_temperature_data.csv'
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 388 rows and 12 columns

In [3]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [4]:
df.shape

(388, 12)

In [5]:
df.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

Visto que as colunas, refill liters, refill liters e specials existem muitas colunas NaN, ela ira ser excluida.

In [6]:
new_df = df.drop(columns=['refill liters', 'refill gas', 'specials', 'temp_inside'])

In [7]:
new_df['gas_type'].unique()

array(['E10', 'SP98'], dtype=object)

In [8]:
new_df['gas_type'][new_df['gas_type'] == 'E10'] = 0
new_df['gas_type'][new_df['gas_type'] == 'SP98'] = 1

/home/davi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/davi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 8 columns):
distance        388 non-null object
consume         388 non-null object
speed           388 non-null int64
temp_outside    388 non-null int64
gas_type        388 non-null object
AC              388 non-null int64
rain            388 non-null int64
sun             388 non-null int64
dtypes: int64(5), object(3)
memory usage: 24.4+ KB

In [16]:
df['distance'].unique()

array(['28', '12', '11,2', '12,9', '18,5', '8,3', '7,8', '12,3', '4,9',
       '11,9', '12,4', '11,8', '24,7', '17,3', '33,4', '25,9', '25,3',
       '14,2', '17,9', '18,4', '18,3', '32,6', '19', '12,1', '20', '4,5',
       '11,7', '10,2', '5,4', '2', '16', '27,3', '10,6', '11,6', '13,1',
       '6,1', '153,5', '2,9', '2,1', '9,8', '6,8', '14', '13,9', '9,7',
       '24,8', '34,8', '5,2', '10,5', '13,2', '13', '12,2', '12,5',
       '15,7', '6,4', '5,3', '26,2', '18,8', '22,9', '162,7', '16,6',
       '15,9', '5,1', '22,4', '31,1', '16,1', '4,2', '17,4', '23,5', '7',
       '20,1', '20,8', '1,7', '35,9', '36,9', '16,8', '9,9', '36,6',
       '44,9', '21,6', '39,4', '26,6', '53,2', '18,9', '43,5', '16,4',
       '21,1', '22,7', '44,4', '35,8', '40,6', '14,1', '58,7', '16,2',
       '31,8', '51,6', '38,6', '81,2', '130,3', '67,2', '43,7', '56,1',
       '39', '38,5', '28,2', '19,6', '22,2', '13,6', '12,6', '8,7', '7,9',
       '2,4', '18,1', '1,3', '13,4', '12,8', '29', '31,4', '27,1', '25,2',
       '14,3', '16,9', '9,2', '31,5', '24,9', '17', '7,4', '25,7', '24,5',
       '4,1', '15,4', '101,9', '93,9', '32,1', '48,6', '37,2', '28,8',
       '6,7', '6,6', '13,3', '12,7', '16,5', '20,6', '16,3', '18,7',
       '36,5', '29,9', '10,1', '31,9', '10,8', '19,8', '11,3', '11,5',
       '21,4', '32', '41,9', '211', '216,1', '25,5', '22,1', '39,5',
       '21,5', '4,8', '100,9', '129,7', '21', '17,2', '6', '20,9', '15,3',
       '28,5', '14,5', '16,7', '5,5', '14,7'], dtype=object)

In [15]:
',' in '4,2'

True